*.cfg.orig
*.pyc
*.swp
.DS_Store
.installed.cfg
.mr.developer.cfg
.sass-cache
bin
buildout_local*.cfg
celerybeat-schedule
dev/*
develop-eggs
downloads
dumps
eggs
erl_crash.dump
etc/dev.minddistrict.com.json
etc/ejabberd.cfg
linesman-enabled
parts
sessions.db
tags
var
www
